[submodule "Vendor/volk"]
	path = Vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "Vendor/VulkanMemoryAllocator"]
	path = Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Vendor/meshoptimizer"]
	path = Vendor/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Vendor/freetype"]
	path = Vendor/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
